:host {
  text-align: center;
}

hr {
  width: 47vw;
  border: 0;
  height: 1px;
  background-color: white;
}

.header {
  width: 100%;
}

.header img {
  height: 27vh;
  width: 100%;
}

.header-content {
  position: absolute;
  top: 4vh;
  width: 100%;
}

.content {
  color: white;
  margin: 6vh 8vh
}

.no-songs {
  vertical-align: middle;
  font-size: 6vh;
  height: 30vh;
  display: table-cell;
}

.one-song {
  height: 30vh;
}

.song {
  margin: 4vh 0;
}

.footer {
  color: white;
  font-size: 11vw;
}

.youre-up {
  margin-top: 11vh;
}

.skip {
  margin-top: 3vh;
  text-decoration: underline;
}
