<div class="header">
  <img src="../../assets/header.png">
  <div class="header-content">
    <h2>WELCOME TO</h2>
    <h1 class="red">RAT KING KARAOKE</h1>
  </div>
</div>
<div *ngIf="isInit">
  <div class="content">
    <div class="no-songs" *ngIf="songs.length === 0">OMG nobody is singing!</div>
    <div *ngIf="songs.length > 0" [class.one-song]="songs.length === 1">
      <div class="song">
        <h2>NOW PLAYING</h2>
        <h2>{{songs[0].name}}</h2>
        <h4 class="light">{{songs[0].userName}}</h4>
      </div>
      <hr *ngIf="songs.length > 1">
      <div *ngIf="songs.length > 1" class="song">
        <h2>UP NEXT!</h2>
        <h2>{{songs[1].name}}</h2>
        <h4 class="light">{{songs[1].userName}}</h4>
      </div>
    </div>
  </div>
  <div class="footer">
    <img *ngIf="!hasSong()" class="button" routerLink="/search" src="../../assets/request.png">
    <div *ngIf="hasSong()" class="youre-up">{{ hasSongText() }}</div>
  </div>
  <div *ngIf="showSkip()" (click)="skip()" class="skip">SKIP CURRENT SONG</div>
</div>
