:host {
  text-align: center;
}

hr {
  width: 47vw;
  border: 0;
  height: 0.1px;
  background-color: white;
}

.header {
  width: 100%;
}

.header img {
  width: 100%;
}

.header-content {
  position: absolute;
  top: 4vh;
  width: 100%;
}

.content {
  color: white;
  margin: 6vh 8vh
}

.no-songs {
  font-size: 6vh;
  height: 30vh;
}

.one-song {
  height: 30vh;
}

.song {
  margin: 4vh 0;
}
