@font-face {
  font-family: "Liberator-Heavy";
  src: url("../lib/Liberator-Heavy.ttf");
}

@font-face {
  font-family: "Liberator-Medium";
  src: url("../lib/Liberator-Medium.ttf");
}

@font-face {
  font-family: "Liberator-Light";
  src: url("../lib/Liberator-Light.ttf");
}

html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

iframe {
  height: 100%;
  width: 100%;
}
