<div class="header">
  <img class="header-img" src="../../assets/search-header.png">
  <div class="header-content">
    <a routerLink="/list">GO BACK</a>
    <div class="search">
      <h2 class="red">FIND A SONG</h2>
      <input #searchInput placeholder="Search song" (keyup)="search(searchInput.value)">
    </div>
  </div>
</div>
<div>
  <div *ngFor="let song of songs" (click)="queueSong(song)" class="song">
    <img src="{{song.thumbnail}}">
    <div class="song-content">
      <h5>{{song.name}}</h5>
    </div>
  </div>
</div>
